<launch>

    <arg name="map_frame" default="map"/>
    <arg name="odom_frame" default="odom"/>
    <arg name="base_frame" default="base_link"/>
    <arg name="audio_trigger_topic" default="/audio_trigger"/>
    <arg name="audio_status_topic" default="/audio_status"/>

    <!-- Waypoint navigation -->
    <node pkg="waypoint_navigation" type="waypoint_navigation" name="waypoint_navigation" output="screen">
        <param name="map_frame" value="$(arg map_frame)"/>
        <param name="odom_frame" value="$(arg odom_frame)"/>
        <param name="base_link_frame" value="$(arg base_frame)"/>
        <param name="audio_trigger_topic" value="$(arg audio_trigger_topic)"/>
        <param name="audio_status_topic" value="$(arg audio_status_topic)"/>
        <param name="number_of_waypoints" value="2"/>
        <param name="waypoint_0_name" value="Babbage"/>
        <param name="waypoint_0_x" value="0"/>
        <param name="waypoint_0_y" value="0.8"/>
        <param name="waypoint_1_name" value="Rolle"/>
        <param name="waypoint_1_x" value="4.5"/>
        <param name="waypoint_1_y" value="0"/>
    </node>






</launch>